.subscribe-area{
    background:url('../../../images/banner3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 550px;
    position: relative;
}
.dark-overlay-subscribe{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}