.book-area{
    background: url("../../images/bookingbg.jpg ");
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 -300px;
}