.footer-area a{
    text-decoration: none;
    color:gray;
    margin-left: -35px;
   

}
.footer-area li{
    list-style-type: none;
    padding: 5px 0;
}
.text-Area{
    color: gray;

}
.footer-area h3{
    margin-left: 0px;
}
